<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Create New Message</h1>
    <form method="POST" action="/new">
      <p>
        <label for="msg-name">Name</label>
        <input type="text" name="msgName" id="msg-name" />
      </p>
      <p>
        <label for="msg-text">Text</label>
        <input type="text" name="msgText" id="msg-text" />
      </p>
      <button>Create</button>
    </form>
  </body>
</html>
